node_modules/
dist/
build/
.cache/
.husky/
.storybook-static/
.venv/
coverage/
cypress/videos/
cypress/screenshots/
public/
reports/
*.min.js
*.bundle.js
**/*.d.ts
scripts/**/*.min.js
scripts/**/vendor/**
**/*.config.*.backup
